node_modules
.idea
coverage
.DS_Store
yarn.lock
c#/leetcode/bin
c#/leetcode/obj

/c#/leetcode/.vs/leetcode/v16
/c#/leetcode/.vs/leetcode/DesignTimeBuild
/c#/leetcode/.vs/Problem solving/v16/Server/sqlite3


/c#/leetcode/.vs/**/*
